@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  background: rgb(2,0,36);
  background: linear-gradient(28deg, rgba(2,0,36,1) 0%, rgba(90,9,121,1) 49%, rgba(0,212,255,1) 100%);
  font-size: 2.2em;
  padding: 10px;
}

.navbar--icon {
  max-width: 70px;
}

.navbar--span {
  color: #fff;
  margin: 14px 0 0 20px;

}

.form--container {
  margin-top: 40px;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 640px;
  flex-wrap: wrap;
  
}

.form--input {
  width: 300px;
  height: 40px;
  margin-right: 20px;
  font-size: 1.1em;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 7px;
  border: 2px rgb(3, 206, 251, 0.3) solid;
}

.form--button {
  width: 400px; 
  height: 40px;
  margin-left: 100px;
  margin-top: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #580977;
  color: #fff;
  font-size: 1.1em;
  border-radius: 7px;
}

.form--button:hover {
  cursor: pointer;
  box-shadow: rgb(0,0,0,0.5);
}